.user {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.user span {
  font-weight: 100;
  font-size: 1.8rem;
}

.user > div {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  font-size: 1.8rem;
  color: black;
  border-radius: 50%;
}
